*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 10%;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}


h1 {
  font-family: Gabarito, Monserrat;
  color: rgb(134, 24, 24);
  position: absolute;
  top: 400px;
  left: 615px;
  font-size: 50px;
}

.h2-ubi {
  font-family: Gabarito, Monserrat;
  color: rgb(134, 24, 24);
  position: absolute;
  top: 300px;
  left: 520pz;
  font-size: 40px;
}

.logo {
 position: relative;
 left: 550px;
}

.contenedor-padre-sh {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedor.tarjetas {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200;
} 

.card {
  width: calc(33.33% - 20px);
  margin: 10px;
}

#carouselExampleCaptions {
  width: 800px;
  margin: auto;
}

.carousel-inner {
  height: 800px;
}

/*.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0,2fr 1fr 0,4fr;
  grid-template-rows: 150px 1fr 1fr 100px;
  grid-template-areas:
  "header header"
  "nav nav"
  "contenido"
  "footer" ;
}*/



@media (min-width: 480px) and (max-width: 1200px) {
  .principal {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header-i"
    "logo-ii"
    "contenido col-sm-12"
    "footer-i"
    "logo-ii";
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .principalsh {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header col-sm-12"
    "logo-1"
    "container"
    "card"
    "footer col-sm-12"
    "logo-2";
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .principalsale{
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header-s"
    "logo-11"
    "contenidosale"
    "footer-s"
    "logo-22";
  }
}